* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  background-color: black;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
  color: gainsboro;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.heading {
  color: gainsboro;
  font-size: 0.9rem;
  font-weight: 450;
  margin: 0.5rem 0 0.5rem 0;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.created-by {
  bottom: 10px;
  left: 100px;
    margin: 0.4rem 0 0.4rem 0;

text-align: center;
  font-size: 14px;
  color: gray;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#button-container button {
  font-family: inherit;
  font-weight: bold;
  min-width: 100px;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgb(58, 58, 60);
  min-width: 40px;
  min-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer-half {
  flex-grow: 0.5;
}


/*.created-by {*/
/*  position: absolute;*/
/*  bottom: 20px;*/
/*  left: 20px;*/
/*  font-size: 14px;*/
/*  color: gray;*/
/*}*/

/*.created-by {*/
/*    position: absolute;*/
    /*margin: 0.4rem 5rem 0.4rem 5rem;*/

/*  top: 106px;*/
/*  left: 8px;*/
/*  font-size: 13px;*/
/*  color: gray;*/
/*  }*/
/*@media screen and (max-width: 600px) {*/

/*  .created-by {*/
          display: none; /* Hide the "Created by Jay" text on smaller screens */

  /*  position: absolute;*/
  /*top: 106px;*/
  /*left: 8px;*/
  /*font-size: 13px;*/
  /*color: gray;*/
/*  }*/
/*}*/
